/*===========================================FONT===================================================*/
@font-face {
    font-family: evermore;
    src: url(../font/evermore/Evermore.ttf) format('truetype');
}

/* ==========================================ALL=================================================== */
body{
    margin: 0px;
    height: 100%;
}
*{
    animation-duration: 2s;
    animation-iteration-count:1;
    animation-name: tete;
}
/* ==========================================HEADER================================================ */
header{
    display: flex;
    background-color: green;
    height: 7em;
    width: 100%;
    color: white;
    position:fixed;
}
/* Pour le titre */
#title{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}
/* Pour que la checkbox ne s'affiche pas */
#hamburger {
    display: none;
}
#hamburger-logo {
    /* Pour que le curseur soit un pointeur */
    cursor: pointer;
    background: transparent;
    width: 200px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: block;
    color:rgb(156, 154, 154);
    /* Pour que le menu hamburger s'affiche toujours */
    text-align: right;
    /* Pour que le menu hamburger soit "rangé" par défaut */
    transform: translateX(-168px);
    padding: 10px; 
}
nav {
    display: flex;
    flex-direction: column;
    background: black;
    overflow: hidden;
    width: 140px;
    height:1000em;
    /* Pour que les liens soient "rangés" par défaut */
    transform: translateX(-200px);
    transition: 0.7s;
    /* position: fixed; */
} 
/* Lorsque #hamburger est coché, le nav qui est dans le même parent changent de propriété */
#hamburger:checked ~ nav {
    /* Changement de la position pour afficher les menus */
    transform: translate(0);
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
.menu {
    /* Pour que le menu reste en place quand on scroll */
    position: fixed;
    /* Pour que le menu ne soit pas sur le texte et que ce dernier puisse être sélectionné */
    width: 0px;
}
/* ==========================================CONTENU================================================ */
/* ==================ACCUEIL================= */
main{
    margin-top: 8em;
}
.all{
    font-family: Arial, sans-serif;
    margin: 150px 50px 30px 50px;
    border-radius: 20px;
    background-image: url(../Images/116190188_o.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    animation-name: apparition;
    animation-duration: 1s;
    height: 650px;
}
#container{
    display: flex;
    height: 100%;
}
.all section{
    margin: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}
.all section p{
    margin: 0px;
}
.galerieDePlante {
    position: relative;
    display: flex;
    margin-top: 50px;
    height: 200px;
    width: auto;
    margin-bottom: 30px;
    gap: 1rem;
}

.galerieDePlante > a {
    flex: 1;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .8s cubic-bezier(0.20, 0.3, 0.40, 1.0 );
    line-height: 20px;
    text-decoration: none;
    padding-top: 90px;
    font-family: evermore;
    color: black;
    font-size: x-large;
}


.galerieDePlante > a:hover {
    flex: 2;
    opacity: 1;
}

#tomate {
    /* display: flex; */
    margin-left: 30px;
    background-image: url(../Images/tomate.jpg);
    /* justify-content: center; */
}
#fraise{
    background-image: url(../Images/fraise.png);
}
#menthe{
    background-image: url(../Images/menthe.jpg);
}
.galerieDePlante:last-child {
    margin-right: 30px;
}

#test {
    margin-top: 50px;
}
#ciboulette{
    background-image: url(../Images/ciboulette.jpg);
}
#basilic{
    background-image: url(../Images/basilic.jpg);
}
a:hover {
    opacity: 0.5;
}
/* ==================INFO PLANTE================= */
.infoPlante{
    display: flex;
    margin-top: 2em;
    margin-left: 2em;
}
.infoPlante .inf{
    width: 70%;
    margin: 0px;
    margin-right: 7em;
}

/* ==================TOMATE================= */
#imageTomate{
    height: 500px;
    width: 300px;
    background-image: url(../Images/tomate.jpg);
    background-size: cover;
    background-position: 75% 50%;
    margin-bottom: 10px;
    margin-right: 10px;
}
/* ==================MENTHE================= */
#imageMenthe{
    height: 500px;
    width: 300px;
    background-image: url(../Images/menthe.jpg);
    background-size: cover;
    background-position: 75% 50%;
    margin-bottom: 10px;
    margin-right: 10px;
}
/* =================BASILIC=================== */
#imageBasilic{
    height: 500px;
    width: 300px;
    background-image: url(../Images/basilic.jpg);
    background-size: cover;
    background-position: 75% 50%;
    margin-bottom: 10px;
    margin-right: 10px;
}
/* ==================CIBOULETTE================= */
#imageCiboulette{
    height: 500px;
    width: 300px;
    background-image: url(../Images/ciboulette.jpg);
    background-size: cover;
    margin-bottom: 10px;
    margin-right: 10px;
}
/* ==================FRAISE====================== */
#imageFraise{
    height: 500px;
    width: 300px;
    background-image: url(../Images/fraise.png);
    background-size: cover;
    background-position: 75% 50%;
    margin-bottom: 10px;
    margin-right: 10px;
}
/* ==========================================FOOTER================================================ */
footer{
    display: flex;
    color: white;
    background-color: rgb(91, 88, 88);
    width: 100%;
    height: 7em;
    position: fixed;
    left: 0;
    bottom: 0;
}
#info{
    width: 50%;
}
address{
    margin-top: 20px;
    margin-left: 60px;
}
address > p{
    margin:0px;
    margin-top: 5px;
}

address > a{
    text-decoration: none;
    color: white;
}

/*===========================================Formulaire===============================================*/

#formulaire  {
    margin-top: 200px;
    animation: tete;
}

/* ==========================================ANIMATION================================================ */

@keyframes apparition {
    from {
        margin-top: 100px;
    }

    to {
        margin-top: 30px;
    }
}

@keyframes tete{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#testPhp {
    margin-top: 600px;
}

#Test2 {
    margin-top: 630px;
}